/* 
    Other colour options:
        Green #0bf40a
        Blue #00b4d8
        Orange #F97300
*/

ytd-app {
    background-color: #1f1f1f;
    font-family: 'Cal Sans';
}

/* Header */
.karaokebunny-header {
    font-size: 48pt;
    text-align: center;
    color: #B210FD;
}

.karaokebunny-header button {
    position: absolute;
    top: 10px;
    right: 24px;
}

/* Footer */
.karaokebunny-current-title {
    font-size: 48pt;
    color: #B210FD;
}

.karaokebunny-current-artist {
    font-size: 28pt;
    color: #B210FD;
}

.karaokebunny-current-duration {
    font-size: 28pt;
    color: #B210FD;
    float: right;
    text-align: right;
    width: 10%;
    padding-right: 15px;
}

.karaokebunny-added-by {
    font-size: 20pt;
    color: #B210FD;
}

/* Sidebar */
.karaokebunny-sidebar {
    color: #B210FD;
    padding-top: 30px;
    max-width: 25vw;
    width: 600px;
}

/* QR Code */
.karaokebunny-qr {
    font-size: 14pt;
    text-align: center;
}

span#karaokebunny-qrcode img {
    display: inline !important;
}

/* Song Queue */
.karaokebunny-queue-inner {
    font-size: 20pt;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: #B210FD #1f1f1f;
    scrollbar-width: thin;
    height: calc(100vh - 440px);
}

.karaokebunny-queue-title {
    font-size: 28pt;
    padding-right: 20px;
    border-bottom: 2px solid #B210FD;
}

.karaokebunny-song + .karaokebunny-song {
    border-top: 1px solid #B210FD;
}

.karaokebunny-song {
    width: 100%;
    padding: 10px;
}

.karaokebunny-song a {
    color: #B210FD;
    text-decoration: none;
}

.karaokebunny-title {
    font-size: 28pt;
    width: 80%;
}

.karaokebunny-artist {
    width: 80%;
}

.karaokebunny-duration {
    float: right;
    text-align: right;
    width: 10%;
    padding-right: 15px;
}


/* Fullscreen button */
.toggle-fullscreen-btn {
	position: fixed;
	z-index: 10000;
	top: 10px;
	right: 10px;
	border: 0;
	padding: 0;
	background: none;
	cursor: pointer;
	outline: none;
}

.toggle-fullscreen-svg {
	display: block;
	height: auto;
}

.toggle-fullscreen-svg path {
	transform-box: view-box;
	transform-origin: 12px 12px;
	fill: none;
	stroke: #B210FD;
	stroke-width: 4;
	transition: .15s;
}

.toggle-fullscreen-btn:hover path:nth-child(1),
.toggle-fullscreen-btn:focus path:nth-child(1) {
	transform: translate(-2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(2),
.toggle-fullscreen-btn:focus path:nth-child(2) {
	transform: translate(2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(3),
.toggle-fullscreen-btn:focus path:nth-child(3) {
	transform: translate(2px, 2px);
}

.toggle-fullscreen-btn:hover path:nth-child(4),
.toggle-fullscreen-btn:focus path:nth-child(4) {
	transform: translate(-2px, 2px);
}


.toggle-fullscreen-btn:not(.on) .icon-fullscreen-leave {
	display: none;
}

.toggle-fullscreen-btn.on .icon-fullscreen-enter {
	display: none;
}