/* 
    Other colour options:
        Green #0bf40a
        Blue #00b4d8
        Orange #F97300
        Purple #B210FD
        Off White #FDFDFD
        Cyan #81CEED
*/

html {
    background-color: #1f1f1f !important;
    --main-color: #81CEED;
}

body {
    font-family: 'Cal Sans';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Header */
.karaokebunny-header {
    font-size: 48pt;
    text-align: center;
    color: var(--main-color);
    height: 84px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.karaokebunny-header .karaokebunny-logo {
    background-image: url("chrome-extension://__MSG_@@extension_id__/img/icon128.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 48px;
    height: 48px;
    display: inline-block;
    margin-right: 10px;
}

.karaokebunny-header .karaokebunny-header-text {
    line-height: 48pt;
}

.karaokebunny-header button {
    position: absolute;
	z-index: 10000;
	top: 10px;
	border: 0;
	padding: 0;
	cursor: pointer;
	outline: none;
	background: none;
}

/* Play and pause buttons */
.play-button {
	right: 160px;
    height: 32px;
    width: 32px;
}
.pause-button {
	right: 100px;
    height: 32px;
    width: 32px;
}

/* Fullscreen button */
.toggle-fullscreen-button {
	right: 10px;
}

.fullscreen-image:hover {
    transform: scale(1.3);
    transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.fullscreen-image {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Main view */
.karaokebunny-main {
    position: absolute;
    top: 84px;
    left: 0px;
    right: 600px;
    height: calc(100vh - 84px);
    
    /*
    max-height: calc(100vh - 216px);

    max-width: calc(100vw - 600px);
    object-fit: contain;
    */
    /*
    height: calc(100vh - 216px);
    width: calc((100vh - 216px) * 16 / 9);*/
}

.karaokebunny-main-inner {
    height: calc(100vh - 216px);
}

.karaokebunny-main-video {
    aspect-ratio: 16 / 9;
    max-height: 100%;
    max-width: 100%;
}

/* Player */
#player {
    width: 100%;
    height: 100%;
}
.ytp-iv-video-content,.ytp-chrome-bottom,.ytp-chapter-hover-container {
    width: calc(100% - 15px) !important;
}
div.html5-video-container {
    width: 100%;
    height: 100%;
}
video {
    max-width: 100%;
    max-height: 100%;
    width: 100% !important;
    height: 100% !important;
}

/* Sidebar */
.karaokebunny-sidebar {
    color: var(--main-color);
    padding-top: 20px;
    padding-left: 10px;
    width: 23vw;
    max-width: 700px;
    height: calc(100vh - 216px);
    position: absolute;
    right: 0px;
    top: 84px;
    z-index: 1;
}

@media (min-width: 2560px) {
    .karaokebunny-sidebar {
        font-size: 36pt;
    }
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .karaokebunny-sidebar {
        font-size: 32pt;
    }
}

@media (min-width: 1024px) and (max-width: 1920px) {
    .karaokebunny-sidebar {
        font-size: 28pt;
    }
}

@media (max-width: 1024px) {
    .karaokebunny-sidebar {
        font-size: 24pt;
    }
}

/* QR Code */
.karaokebunny-qr {
    font-size: 14pt;
    text-align: center;
}

span#karaokebunny-qrcode img {
    display: inline !important;
}

/* Song Queue */
.karaokebunny-queue-inner {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: var(--main-color) #1f1f1f;
    scrollbar-width: thin;
    height: calc(100vh - 440px);
}

.karaokebunny-queue-title {
    padding-right: 20px;
    border-bottom: 2px solid var(--main-color);
}

.karaokebunny-song + .karaokebunny-song {
    border-top: 1px solid var(--main-color);
}

.karaokebunny-song {
    width: 100%;
    padding: 10px;
}

.karaokebunny-song a {
    color: var(--main-color);
    text-decoration: none;
}

.karaokebunny-artist {
    font-size: 70%;
    width: 80%;
}

.karaokebunny-total-duration {
    float: right;
    position: relative;
    top: 0px;
    right: 0px;
    text-align: right;
    /*
    width: 10%;
    padding-right: 15px;
    */
}

.karaokebunny-duration {
    font-size: 70%;
    float: right;
    position: relative;
    top: 0px;
    right: 10px;
    text-align: right;
    /*
    width: 10%;
    padding-right: 15px;
    */
}

/* Footer */
.karaokebunny-footer {
    height: 132px;
    clear: both;
    width: 100%;
    padding-left: 10px;
}

.karaokebunny-current-title {
    font-size: 48pt;
    color: var(--main-color);
}

.karaokebunny-current-artist {
    font-size: 28pt;
    color: var(--main-color);
}

.karaokebunny-current-duration {
    font-size: 28pt;
    color: var(--main-color);
    float: right;
    text-align: right;
    width: 10%;
    padding-right: 15px;
}

.karaokebunny-added-by {
    font-size: 20pt;
    color: var(--main-color);
}