/* 
    Other colour options:
        Green #0bf40a
        Blue #00b4d8
        Orange #F97300
        Purple #B210FD
        Off White #FDFDFD
*/

ytd-app {
    background-color: #1f1f1f;
    font-family: 'Cal Sans';
    --main-color: #F97300;
}

/* Header */
.karaokebunny-header {
    font-size: 48pt;
    text-align: center;
    color: var(--main-color);
}

.karaokebunny-header button {
    position: absolute;
    top: 10px;
    right: 24px;
}

/* Fullscreen button */
.toggle-fullscreen-btn {
	position: fixed;
	z-index: 10000;
	top: 10px;
	right: 10px;
	border: 0;
	padding: 0;
	background: none;
	cursor: pointer;
	outline: none;
}

.fullscreen-image:hover {
    transform: scale(1.3);
    transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.fullscreen-image {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */
.karaokebunny-current-title {
    font-size: 48pt;
    color: var(--main-color);
}

.karaokebunny-current-artist {
    font-size: 28pt;
    color: var(--main-color);
}

.karaokebunny-current-duration {
    font-size: 28pt;
    color: var(--main-color);
    float: right;
    text-align: right;
    width: 10%;
    padding-right: 15px;
}

.karaokebunny-added-by {
    font-size: 20pt;
    color: var(--main-color);
}

/* Sidebar */
.karaokebunny-sidebar {
    color: var(--main-color);
    padding-top: 20px;
    max-width: 25vw;
    width: 600px;
}

/* QR Code */
.karaokebunny-qr {
    font-size: 14pt;
    text-align: center;
}

span#karaokebunny-qrcode img {
    display: inline !important;
}

/* Song Queue */
.karaokebunny-queue-inner {
    font-size: 20pt;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: var(--main-color) #1f1f1f;
    scrollbar-width: thin;
    height: calc(100vh - 440px);
}

.karaokebunny-queue-title {
    font-size: 28pt;
    padding-right: 20px;
    border-bottom: 2px solid var(--main-color);
}

.karaokebunny-song + .karaokebunny-song {
    border-top: 1px solid var(--main-color);
}

.karaokebunny-song {
    width: 100%;
    padding: 10px;
}

.karaokebunny-song a {
    color: var(--main-color);
    text-decoration: none;
}

.karaokebunny-title {
    font-size: 28pt;
    width: 80%;
}

.karaokebunny-artist {
    width: 80%;
}

.karaokebunny-duration {
    float: right;
    text-align: right;
    width: 10%;
    padding-right: 15px;
}
